<div class="menu-item-wrapper">

	<!-- Parent Menu Item -->
	<div
		class="menu-item group"
		[ngClass]="{ active: isActive, expanded: isExpanded }"
		(click)="toggleMenu()"
	>
		<div class="flex items-center gap-3 flex-1">
			<div class="icon-wrapper">
				<i [class]="data.icon" class="text-base"></i>
			</div>
			<span class="menu-label">{{ data.label }}</span>
		</div>

		<i
			*ngIf="(data.options?.length ?? 0) > 0"
			class="fa-solid fa-chevron-down transition-transform duration-300"
			[ngClass]="{ 'rotate-180': isExpanded }"
		></i>
	</div>

	<!-- Sub Menu Items -->
	<div
		*ngIf="(data.options?.length ?? 0) > 0"
		class="submenu"
		[ngClass]="{ expanded: isExpanded }"
	>
		<div
			*ngFor="let option of data.options"
			[routerLink]="option.to"
			class="submenu-item"
			[ngClass]="{ active: activeItem === option.to }"
			(click)="onSubItemClick(option.to!)"
		>
			<i *ngIf="option.icon" [class]="option.icon" class="text-sm"></i>
			<span>{{ option.label }}</span>
		</div>
	</div>

	<!-- Direct Link (No submenu) -->
	<div
		*ngIf="!data.options || data.options.length === 0"
		[routerLink]="data.to"
		class="menu-item-link"
		[ngClass]="{ active: activeItem === data.to }"
	>
		<div class="icon-wrapper">
			<i [class]="data.icon"></i>
		</div>
		<span class="menu-label">{{ data.label }}</span>
	</div>

</div>
