flask==3.0.0
flask-cors==4.0.0
flask-socketio==5.3.5
python-dotenv==1.0.0
pyodbc==5.0.1
langchain==0.1.13
langchain-google-genai==0.0.11
langchain-community==0.0.29
langchain-text-splitters==0.0.1
langchain-elasticsearch==0.2.0
google-generativeai==0.4.1
google-ai-generativelanguage==0.4.0

elasticsearch[vectorstore-mmr]==8.19.1
sentence-transformers==2.2.2
huggingface_hub==0.16.4
transformers==4.30.2
chromadb==0.4.24
fastmcp==0.2.0
python-docx==1.1.0
pandas==2.2.0
requests==2.31.0
gunicorn==21.2.0
python-socketio==5.11.0
confluent_kafka
redis
